.presents {
  background: #000;

  width: 100vw;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.presents__content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  overflow: hidden;

  max-width: 800px;
}

/* фотка */
.presents__image img {
  /* max-width: fit-content; */
  min-width: 800px;
  background-position: center;
  object-fit: contain;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* текст */
.presents__content {
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;

  color: white;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  text-align: left;
}

.presents__content-title {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;

  color: #969559;
}

.presents__content-subtitle {
  width: 100%;
  text-align: left;
  font-weight: bold;
  padding-bottom: 10px;
}

.presents__content-text:first-child {
  border: none;
  padding: 0;
}

.presents__content-text {
  text-align: justify;
  padding-left: 15px;
  border-left: 2px solid #969559;
}

@media (max-width: 800px) {
  .presents__image img {
    max-height: 700px;
  }
  .presents {
    overflow: hidden;
  }
}
