.timerComponent {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url('https://i.ibb.co/j9GBDmdY/timer.png') center left/cover no-repeat;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 25px;
}

.eventName {
  font-family: 'Noto Serif Display';
  text-align: center;
  width: 100%;
  font-size: 24px;

  margin-top: 50px;
}

.timer {
  width: 100%;
  text-align: center;
  max-width: 800px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 40px;
}

.timer-subtext {
  padding: 0;
  margin: 0;
  font-weight: light;
  margin-top: 10px;

  font-size: 16px;
  opacity: 0.3;
  color: white;
}

.days,
.hours,
.minutes,
.seconds {
  color: #fff;
  opacity: 1;
  font-weight: bold;
  font-size: 45px;
}
